extends layout

block content
  h1= title
  p Welcome to #{title}
  #figframe
  .figctrl-wrapper
    .figctrl
      .figctrl-item.figctrl-home Home
      .figctrl-item.figctrl-zoom Zoom
      .figctrl-item.figctrl-drag Drag
      .figctrl-item.figctrl-curse Curse
  .figdatactrl-wrapper
    .figdatactrl
      .figdatactrl-item.figdatactrl-refresh Refresh

