doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/vender/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/vender/jquery/dist/jquery.min.js')
    script(src='/vender/jquery/dist/jquery.svg.min.js')
    script(src='/vender/bootstrap/dist/js/bootstrap.min.js')
    script(src='/javascripts/figure.js')
    script(src='/javascripts/script.js')
  body
    block content
